
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>
@*<main>
    <div class="row">
        <ul class="follower">
            @foreach (var item in Model)
            {
                <li>
                    
                    <div class="details">
                        <span class="lecturer">
                            @if (Model.ShowAction)
                            {
                                <button data-user-id="@course.LecturerId" class="btn btn-light btn-sm js-toggle-follow">Follow</button>
                            }
                        </span>
                        <br />
                        <span class="category">
                            @course.Category.Name
                            @if (Model.ShowAction)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                            }
                        </span>

                    </div>
                </li>
            }
        </ul>
    </div>
</main>*@